
table
{
    border-collapse:collapse ;
}
  td{
    border:solid black 1px;
    padding: 10px;
    
}
th{
    border:solid black 1px;
    text-align: center;
}
.App{
    text-align: center;
}
.App{
    text-align: center;
}
img{
    width: 200px ;
    height:200px ;
}


